services:
  server:
    build: .
    container_name: nfs-wireguard-bridge
    image: dbndev/nfs-wireguard-bridge
    privileged: true
    cap_add:
      - NET_ADMIN
    network_mode: bridge
    volumes:
      - /workspaces:/workspaces:rw
      - /runner:/runner:rw
      - ./state:/state:rw
      - ./conf:/conf:rw
    ports:
      - "51820:51820/udp"
    restart: unless-stopped
    environment:
      - NFS_WIREGUARD_SERVER_PORT=${NFS_WIREGUARD_SERVER_PORT:-51820}
      - NFS_WIREGUARD_SERVER_HOST=${NFS_WIREGUARD_SERVER_HOST:-bbrodriguez.vegito.app}

    command: |
      bash -c '
      sudo tcpdump -ni wg0 | tee /state/wg0-tcpdump.log &
      sudo tcpdump -ni wg-van-client | tee /state/wg-van-client-tcpdump.log &
      sudo tcpdump -ni eth0 | tee /state/eth0-tcpdump.log &
      sudo tcpdump -ni lo | tee /state/lo-tcpdump.log &
      sleep infinity
      '
