services:
  server:
    build: .
    container_name: nfs-openvpn
    privileged: true
    cap_add:
      - NET_ADMIN
    environment:
      - OVPN_REMOTE_ADDR=davidberichon.pro.dns-orange.fr
      - OVPN_PUBLIC_PORT=11044
    network_mode: bridge
    volumes:
      - /workspaces:/exports/workspaces:rw
      - /runner:/exports/runner:rw
      - ./pki:/pki:rw
    ports:
      - "1194:11944/udp"
    restart: unless-stopped