services:
  server:
    build: .
    container_name: nfs-wireguard-bridge
    image:  dbndev/nfs-wireguard-bridge
    privileged: true
    cap_add:
      - NET_ADMIN
    network_mode: bridge
    volumes:
      - /workspaces:/workspaces:rw
      - /runner:/runner:rw
      - ./state:/state:rw
      - video:/data
    ports:
      - "51820:51820/udp"
    restart: unless-stopped
    environment:
      - NFS_WIREGUARD_SERVER_PORT=41414
      - NFS_WIREGUARD_SERVER_HOST=davidberichon.pro.dns-orange.fr
volumes:
  video:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=nas.local,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/volume1/video"